body{
    background-color: rgb(241, 241, 241);
} 
.container{
    width: 70vh;
    height: auto;
    border-radius: 25px;
    background-color: rgba(244, 178, 190, 0.3);
    backdrop-filter: blur(10px);
    margin: 100px auto;
    padding: 10px 30px;
   
}
.container h1{
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 0 10px rgb(233, 232, 232);
    color:rgb(42, 41, 41);
  
    
}   

.input-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container input{
    width: 60%;
    margin: 0 5px;
    padding: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.3s;
}
.container input:focus{
    box-shadow: 0 0 20px grey;
}
.container .add-button{
    border-radius: 25px;
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: rgb(242, 242, 156);
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container .add-button:hover{
    box-shadow: 0 0 5px grey;
}
/* .container .del-button{
   cursor: pointer;
   border-radius: 25px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(242, 242, 156);
}
.todo-items li span:first-child{
    margin-right: 110px;
   
} */
.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
    font-size: 1.1rem;
    
}
.del-button{
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 17px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    font-weight: 600;
    background-color: rgb(245, 146, 151);
}
.container .del-button:hover{
    box-shadow: 0 0 5px grey;
}